html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  width:100%;
  border-radius: 5px;
}

mat-card {
  margin-top: 20px;
  width: fit-content;
}

.container{
  margin: 10px;
}

.spacer {
  flex: 1 1 auto;
}
