<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
  <div class="col">
    <form action="" autocomplete="off">
      <!-- Nombre -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre y apellido">
          <span class="form-text text-danger">
            Debe de ser en formato de nombre y apellido
          </span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" name="email" id="email" class="form-control" placeholder="Email del usuario">
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Usuario</label>
        <div class="col-sm-9">
          <input type="text" name="username" id="username" class="form-control" placeholder="Nombre del usuario">
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Contraseña</label>
        <div class="col-sm-9">
          <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña del usuario">
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirma la contraseña">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end">
            Crear
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
