<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
  <div class="col">
    <form action="" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">
      <!-- Nombre -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre y apellido" formControlName="nombre">
          <span class="form-text text-danger"
            *ngIf="campoNoValido('nombre')">
            Debe de ser en formato de nombre y apellido
          </span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" name="email" id="email" class="form-control" placeholder="Email del usuario" formControlName="email">
          <span class="form-text text-danger"
            *ngIf="campoNoValido('email')">
            {{ emailErrorsMsg }}
          </span>
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Usuario</label>
        <div class="col-sm-9">
          <input type="text" name="username" id="username" class="form-control" placeholder="Nombre del usuario" formControlName="username">
          <span class="form-text text-danger"
            *ngIf="campoNoValido('username')">
            El username no puede ser "usuario"
          </span>
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Contraseña</label>
        <div class="col-sm-9">
          <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña del usuario" formControlName="password">
          <span class="form-text text-danger"
            *ngIf="campoNoValido('password')">
            La contraseña debe ser mayor de 6 caracteres.
          </span>
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirma la contraseña" formControlName="password2">
          <span class="form-text text-danger"
            *ngIf="campoNoValido('password2')">
            Las contraseñas no son iguales
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit" [disabled]="miFormulario.pending">
            Crear
          </button>
        </div>
      </div>

    </form>
  </div>
</div>

<h2>Form Valid: {{ miFormulario.valid }}</h2>

<h2>Form Status: {{ miFormulario.status }}</h2>
<h2>Form Pending: {{ miFormulario.pending }}</h2>

<h2>Form Errors:</h2>
<pre>{{ miFormulario.errors | json }}</pre>

<h2>Nombre</h2>
<pre>{{ miFormulario.controls.nombre.errors | json }}</pre>

<h2>Email</h2>
<pre>{{ miFormulario.controls.email.errors | json }}</pre>

<h2>Username</h2>
<pre>{{ miFormulario.controls.username.errors | json }}</pre>

<h2>Password</h2>
<pre>{{ miFormulario.controls.password.errors | json }}</pre>

<h2>Password 2 - Confirmar</h2>
<pre>{{ miFormulario.controls.password2.errors | json }}</pre>
